<div class="user-profile">
  <h3>My profile</h3>

  <div class="field">
    <div class="field-name">Battletag:</div>
    <div class="field-value"><%= @user.battletag %></div>
  </div>

  <div class="field">
    <div class="field-name">Legend verification:</div>
    <div class="field-value"><%= @user.is_legend? ? "Verified" : "not started "%></div>
  </div>

  <% if @user.is_legend? %>
    <div style="margin-top: 20px">
      You have access to the private <a href="/forum/legend-lounge">Legend Lounge</a> forum.
    </div>
  <% end %>

  <br><br>

  <% if @user.forum_username.present? %>
    <div class="field">
      <div class="field-name">Forum username:</div>
      <div class="field-value"><%= @user.forum_username %></div>
    </div>
  <% end %>

  <%= form_tag account_path, method: :patch do %>
    <% unless @user.forum_username.present? %>
      <div class="field">
        <div class="field-name">Forum username:</div>
        <div class="field-value">
          <input type="text" name="user[forum_username]"/>
        </div>
      </div>
      <small>
        Can be set once. 4-25 letters, numbers, or underscores, can't start with an underscore
      </small>
    <% end %>

    <div class="editable-fields">
      <div class="field">
        <div class="field-name">Twitch username:</div>
        <div class="field-value">
          <input type="text" name="user[twitch_username]" value="<%= @user.twitch_username %>"/>
        </div>
      </div>

      <div class="field">
        <div class="field-name">Battle.net region:</div>
        <div class="field-value">
          <%= select_tag "user[region]",
                options_for_select(User::BNET_REGIONS, selected: @user.region),
                include_blank: true %>
        </div>
      </div>
    </div>
    <input type="submit" value="Save"/>
  <% end %>

  <% if flash[:notice] %>
    <div class="errors">
      <%= flash[:notice].gsub(/\n\n/, "<br><br>").html_safe %>
    </div>
  <% end %>

  <section class="submit-replays">
    <h3>Submit replays</h3>
    <% if @user.submitted_replays_count > 0 %>
      <h4>You've submitted <%= @user.submitted_replays_count %> replays so far. Thanks!</h4>
    <% end %>
    <h4>Feel free to submit any standard or wild replays to help grow the replay database.</h4>
    <h4>Enter a list of hsreplay.net replay URLs or ids. One per line. </h4>
    <%= form_tag "/submit_replays", method: :post do %>
      <input type="hidden"
             value="<%= request_forgery_protection_token %>"
             name="csrf_token"/>
      <textarea placeholder="ex. https://hsreplay.net/replay/TnoSo7uhSKpYqWqMSx3fE4"
                name="replays_list"></textarea>
      <input type="submit" value="Submit replays"/>
    <% end %>
    </form>
  </section>
</div>
