<div class="forum">
  <header class="forum-header">
    <h2>
      <% if @forum_post.post_type == "legend" %>
        <a href="/forum/legend-lounge">Legend Lounge</a>
      <% else %>
        <a href="/forum/general-discussion">General Discussion</a>
      <% end %>
    </h2>
    <div class="separator">&mdash;</div>
    <h3 class="title"><%= @forum_post.title %></h3>
  </header>

  <div class="forum-post show-forum-post">
    <div class="content">
      <%= sanitize(@forum_post.content).gsub(/(\r|\n){2,}/, '<br><br>').html_safe %>
    </div>

    <footer>
      <h4 class="author">by <%= @forum_post.user.forum_name %></h4>
      <div class="separator">&bull;</div>
      <div class="timestamp">
        <%= time_ago_in_words(@forum_post.created_at).gsub(/about/, '').strip %> ago
      </div>
    </footer>
  </div>

  <%= render partial: "forum_posts/forum_comment",
             collection: @forum_post.forum_comments.order("id ASC") %>

  <% if @user %>
    <div class="new-forum-post">
      <%= form_tag forum_comments_path(@forum_post.id), method: :post do %>
        <input type="hidden"
               value="<%= request_forgery_protection_token %>"
               name="csrf_token"/>
        <h3 class="response-prompt">Write a response</h3>
        <textarea placeholder="Enter your response here..."
                  name="forum_comment[content]"></textarea>
        <br>
        <input type="submit"/>
      <% end %>
    </div>
  <% else %>
    <%= render partial: "forum_posts/login_prompt" %>
  <% end %>
</div>
