<article class="decks">
  <div class="description">
    Stats calculated from <%= @count %> legend games over the past <%= @days %> days.<br>
    Deck types with fewer than <%= ReplayStats::MIN_GAMES %> games played not shown.
  </div>

  <header class="decks-header">
    <div class="header-text left">Deck type</div>
    <div class="header-text mid"># games</div>
    <div class="header-text right">winrate</div>
  </header>

  <% @class_stats.each do |class_stats, archetype_stats| %>
    <% class_name = class_stats[:class].downcase %>
    <div class="class-stats">
      <a href="/<%= class_name %>">
        <img src="/assets/classes/<%= class_name %>.png"
             alt="<%= class_stats[:class] %>"/>
      </a>
      <div class="archetype-stats">
        <% archetype_stats.each do |archetype| %>
          <a href="<%= archetype[:path] %>">
            <div class="archetype-row">
              <div class="left">
                <%= "#{archetype[:archetype]} #{archetype[:class]}" %>
              </div>
              <div class="mid"><%= archetype[:n] %></div>
              <div class="right"><%= archetype[:winrate] %>%</div>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
</article>
