<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="description" content="<%= @meta_desc %>"/>
    <meta name="viewport" content="width=790, user-scalable=yes"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <% if request.path !~ /\A\/(account|forum)/ %>
      <%= javascript_pack_tag 'application' %>
    <% end %>

    <% if Rails.env.development? %>
      <link href="/assets/fonts.css" rel="stylesheet">
    <% else %>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
            rel="stylesheet">
    <% end %>
  </head>

  <body>
    <%= render partial: "layouts/main_header" %>

    <% if params[:controller] == "home" %>
      <div class="main-description">
        <div class="container sub-header-bg">
          <h2>
            Find replays of games by
            legend-rank Hearthstone players.
            Choose a class to filter replays and top decks.
          </h2>
        </div>
      </div>

      <div class="main">
        <%= yield %>
      </div>

    <% else %>
      <div class="main container">
        <%= yield %>
      </div>
    <% end %>

    <% if ENV["GA_ID"] %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GA_ID"] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= ENV["GA_ID"] %>');
      </script>
    <% end %>
  </body>
</html>
