<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="description" content="<%= @meta_desc %>"/>
    <meta name="viewport" content="width=device-width"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <% if request.path !~ /\A\/(account|forum)/ %>
      <%= javascript_pack_tag 'application' %>
    <% end %>

    <% if Rails.env.development? %>
      <link href="/assets/fonts.css" rel="stylesheet">
    <% else %>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
            rel="stylesheet">
    <% end %>
  </head>

  <body>
    <header class="main-header">
      <div class="container header-container">
        <h1 class="title">
          <a href="/">Meta Legend</a><small>beta</small>
        </h1>
        <div class="header-links">
          <a href="/forum">Forum</a>
        </div>
        <div class="user-info">
          <% if @user %>
            <a href="/account"><%= @user.battletag %></a>
          <% else %>
            <a href="/account/login" class="bnet-login">Log in with Battle.net</a>
          <% end %>
        </div>
      </div>
    </header>

    <div class="container">
      <% if request.path !~ /\A\/(account|forum)/ %>
        <h2 class="main-description">
          Find replays of games by
          legend-rank Hearthstone players
        </h2>
      <% end %>

      <div class="main">
        <%= yield %>
      </div>
    </div>

    <% if ENV["GA_ID"] %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GA_ID"] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= ENV["GA_ID"] %>');
      </script>
    <% end %>
  </body>
</html>
